# These three hold data bundled into the app when packaging: the emoji
# database, the gitignore templates and the licence texts. They point at the
# upstream repositories on github.com, where this project itself is published,
# so building it needs no host beyond the one it already comes from.
#
# All three are permissively licensed: gemoji MIT, gitignore CC0-1.0,
# choosealicense.com MIT with its licence texts under CC-BY-3.0.

[submodule "gemoji"]
	path = gemoji
	url = https://github.com/github/gemoji.git
[submodule "app/static/common/gitignore"]
	path = app/static/common/gitignore
	url = https://github.com/github/gitignore.git
[submodule "app/static/common/choosealicense.com"]
	path = app/static/common/choosealicense.com
	url = https://github.com/github/choosealicense.com.git
